#adminHeader{
    color: #fff;
}
.list-group-admin-update-buttons{
    flex-shrink: 0;
}
#orderList{
    margin: 20px 0 20px;
    max-height: 70vh;
    overflow-y: scroll;
}

.list-group-item-admin-update{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reverseOrderBtn, .forwardOrderBtn{
    width: 140px ;
}
#new-car-form{
    margin: 20px 0 20px;
}

.label-form-addcar{
    color: #fff;
}

#add-prod-submit{
    border-radius: 10px;
    background-color: #3D26A8;
    color: #fff;
}