.h5-rev{
    color: #A29F9D;
}
.p-rev{
    text-align: center;
    color:#A29F9D;
    overflow: hidden;
}
.shield-img{
    width: 100%;
    max-width: 128px;
    height: auto;
    
    opacity: 50%;
    filter: invert(100%); 
}
.h4-abtxt{
    color: #DADADA;
    font-size: 1vw;
}