/* css logo*/
.logo-space {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    max-width: 800px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.fixed-bg {
    background-image: url(../src_img/homepage_toyota.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 1780px) {
    .fixed-bg{
        background-size: unset;
    }
}
@media (max-width: 750px) {
    .fixed-bg{
       background: none;
    }
}

/* css generale per section*/
.home-section {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}
.welcome-text-header {
    color: #91A826;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.welcome-text-sub {
    color: #DADADA;
    font-size: 1.5rem;
}
/* css per home section*/

#homeSection{
    padding-block: 0.2rem;
}

.carousel-item{
    aspect-ratio: 1022/575;
    overflow-y: hidden;

}
.carousel-item-img{
    object-fit: cover;
}

#carousel {
    width: 100%;
}

#welcomeText{
    overflow-wrap: break-word;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* css per sectio  shields*/
#shields-section {
    height: fit-content;
    margin-top: 2rem;
    padding: 1rem 3rem 1rem 3rem ;
    gap: 5rem;
    align-items: flex-start;
}

.shield-div {
    width: auto;
    height: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shield-text-header{
    font-size: 1.5rem;
    color: #3d26a8;
}

.shield-text-sub {
    font-size: 1.2rem;
    color: #91A826;
}

.h5-rev {
    color: #A29F9D;
}

.p-rev {
    text-align: center;
    color: #A29F9D;
    overflow: hidden;
}

.shield-img {
    width: clamp(4rem, 7vw, 10rem);
    height: auto;
    opacity: 50%;
    filter: invert(100%);
}

/* css per section review*/
#review {
    margin-top: 2rem;
    gap: 2rem;
}

.review-div {
    text-align: center;
    padding: 1rem 3rem 1rem 3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-stars {
    max-width: 150px;
    max-height: 100%;
    object-fit: contain;
    align-items: end;
}

.p-signature {
    color: #838383;
    filter: invert(100%);
}




