#ordersTabContent {
    padding-left: 0;
    margin-top: 10px;
    min-height: 62vh;
}

.order-list-element{
    border-color: rgba(218, 218, 218, 0.5);
}
.order-list-element a{
    text-decoration: none;
}

#ordersTab {
    margin-top: 15px;
}

#orderCarIcon {
    width: 70px;
    height: 39px;
    object-fit: cover;
}

.label-form-addcar {
    color: #fff;
}

#div-order-detail-car-img{
    margin-left: 1rem;

}
#order-detail-car-img{
    width: 100%;
    border-radius: 5px;
}

#orderDetailHeader{
    background-color: #2A2A2A;
    box-shadow: 0 0 5px 0 rgba(61, 38, 168, 0.2)
}

#order-detail-heading>h1, #order-detail-heading>h2{
    color: white;
}

#order-number-header{

    color:white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 2;
    text-align: center;
}
@media (min-width: 2018px) {
    #order-number-header{
        position: absolute;
        left:20%;
        right: 20%;
    }
}

.status-detail-list{
    display: grid;
    height: 300px;
    gap: 40px;
    grid-template-rows: repeat(4, 1fr) ;
}
.status-detail-item-state{

    flex-shrink: 0;
}
.status-detail-item-time{
    flex-shrink: 0;
}
.status-detail-item{
    color: white;
    max-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}



#orderDetailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#order-detail-content{
    margin-top: 50px;
    width: clamp(20rem, 25vw, 30rem);
    display: grid;
    grid-template-columns: 50px auto;
}

#order-detail-user{
    margin-top:50px;
    margin-bottom: 100px;
    width: 100%
}

#user-orders-title{
    color: white;
}

.user-detail{
    background-color: #1E1E1E;
    color: white;
    border: 1px solid rgba(68,68,68,.7)
}
.order-detail-row{
    display: flex;
    justify-content: space-between;
    gap: 20px
}
.order-detail-col{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
}
.order-detail-col:nth-child(1){
    flex-grow: 0;
}
#detailLinkToCar{
    position: relative;
    height: fit-content;
}
#detailLinkToCar::before{
    position: absolute;
    opacity: 0;
    content: "Go to Car";
    color: white;
    background-color: #3D26A8;
}
#detailLinkToCar:hover{
    opacity: 1;
}

#status-points{
    justify-content: center;display: flex;
}

@media(max-width: 1470px){
    .status-detail-item{
        width: 100%;
    }
}

@media (max-width: 850px ){
    #order-detail-content{
        margin-inline:0;
        padding-inline: 0;
        width: 100%;
    }

    .order-detail-row{
        gap: 10px;
        flex-flow: column;
        justify-content: flex-start;
    }

    .order-detail-col{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        text-align: left;
        border-bottom: 1px solid rgba(56, 56, 56, 0.4);
    }
    .order-detail-col:nth-child(6){
        border-bottom: 0;
    }
    #list-user-detail{
        width: 100%;
    }
}
