#mainPanel {
    margin-top: 20px;
    text-align: center;
}
#breadcrumb-row{
    margin-top: 20px;
}

.car-img {
    width: 100%;
    border-radius: 10px;
}

.car-img-container {
    width: auto;
    aspect-ratio: 1022/575;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.car-model {
    color: #91A826;
    font-size: clamp(2rem, 5vw, 4rem);
    margin-top: 15px;
}

.btn-buy {
    min-width: 300px;
    min-height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3d26a8;
    color: white;
    border-radius: 10px;
    border: 0;
}

.btn-buy:hover {
    color: white;
    box-shadow: 0 0 12px 4px rgba(120, 89, 255, 0.651);
    border: 0;
}

.car-price {
    font-size: 20px;
}

.car-info {
    border: 1px solid #3d26a8;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    margin: 0 4px 15px 4px;
    padding: 0;
}

.prod-rev {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 30px 10px 30px 10px;
}

.p-prod-rev {
    color: white;
    font-size: 20px;
    width: fit-content;
    margin-bottom: 0;
}


.img-prod-rev {
    width: 150px;
    margin-left: 30px;
}

.faq-block {
 padding: 0 40px 0 40px;
}

.faq-question {
    color: #91A826;
}

.faq-answer {
    color: white;
    padding-left: 2%;
    text-align: justify;
}

.product-page-row{
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 30px 0 30px 0;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.14);


}
.car-info-header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3D26A8;
    border-bottom: 1px solid #3D26A8;
}
.car-info-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 850px){
    .car-info-row{
        display: block;
        margin-right: 2px;
    }
}