#purchaseMainContainer{
    margin-top: 20px;
}
#newShippingAddressBtn{
    background-color: #3D26A8;
    color: #fff;
}

#addCreditDropdown{
    background-color: #3D26A8;
    color: #fff;
}
#rechargeWalletForm{
    padding-left: 10px;
    padding-right: 10px;
}

#creditInput{
    max-width: 20vw;
}

#rechargeWalletBtn{
    border-style: solid;
    border-color: #1E1E1E;
    margin-top: 5px;
}

.list-item-cart-purchase{
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: start;
}
#purchaseProductQuantity{
    min-width: 80px;
    max-width: 10vw;
}

#checkOut{
    background-color: #fff;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 5px;
}
#itemPriceList{
    list-style-type: none;
}

.accordion-button-custom::after{
    display: none;
}

#accordionFlush{
    margin-bottom: 30px;
}
.list-receipt-view{
    border-bottom: 1px solid #545D67 ;
    display: flex;
    align-items: center;
}

#itemPriceList, .list-receipt-view {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; }


@media only screen and (max-width: 990px) {
    #checkOut{
        margin: 20px 0 20px 0;
    }

    #accordionFlush{
        margin-bottom: 0px;
    }

}