#cardBrandContent{
    background-color: rgba(128, 128, 128, 0.123);
}

#cardBrandContent:hover{
    box-shadow: 0 0 18px rgba(145, 168, 38, 1); 
}

.card-title{
    filter:invert(100%);
}

#allCarsBtn{
    width: 50%;
    color:white;
    background-color: #91A826;
    box-shadow:0 0 5px rgba(145, 168, 38, 0.9);
}

#allCarsBtn:hover{
    box-shadow:0 0 10px rgba(145, 168, 38, 0.9);
}

#cardCarContent{
    background-color: rgba(128, 128, 128, 0.123);
}
.card-text{
    filter:invert(100%);
}
