.card-link {
    text-decoration: none;
}

#allCarsBtn {
    width: 50%;
    color: white;
    background-color: #3D26A8;
    box-shadow: 0 0 5px rgba(61, 38, 168, 0.05);
}

#allCarsBtn:hover {
    box-shadow: 0 0 14px rgba(61, 38, 168, 1);
}

.card-brand {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.014);
    transition: all 200ms ease-out;
    background-color: rgba(128, 128, 128, 0.123);
}

.card-brand:hover{
    box-shadow: 0 0 12px 2px rgba(145, 168, 38, 0.5);
}
.car-card{
    background-color: rgba(128, 128, 128, 0.123);
}
.car-card:hover{
    box-shadow: 0 0 12px 2px rgba(145, 168, 38, 0.5);
}
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 85%;
    height: 85%;
    max-width: 90%;
    max-height: 90%;
}

.card-title-car{
    font-size: 1.2rem;
    width: inherit;
    display: block;
}


.m-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 95%
}

.card-img-top-car {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;

    aspect-ratio: 1022/575;
    object-fit: cover ;
}

.card-brand {
    height: 400px
}

/* css per dropdown btn*/

.dropdown-multicol {
    width: max-content;
}

.dropdown-multicol > div.dropdown-col {
    width: auto;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.div-allCarsBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4%;
    width: 100%;
}

.div-dropDown {
    margin: 10px 5px 10px 5px;
}


.card-title {
    color: #91A826;
    text-decoration: none;
}

.card-text {
    color: white;
    text-decoration: none;
}
#filters-container{
    margin-left: 10px;

}

#filters-badge-container{
    margin-left: 10px;
}
.filter-dropdown-btn {
    background-color: #3D26A8;
    color: white;
    border:0;
    border-radius: 8px;
    padding: 10px;
}

.filter-dropdown-btn:focus {
    box-shadow: 0 0 10px 0 rgba(82, 60, 183, 0.77);;
}

.img-brand-logo{
    max-height: 200px;
}

.showroom-header{
    color: #91A826;
}

.searchbar{
    background-color:  #1a1a1a;
    border-color: #545D67;
    color: white;

}

.searchbar::placeholder{
    color: white;
}

#button-addon{
    background-color: #545D67;
    border-color: #545D67;
}

.filter-badge{
    background-color: #3D26A8;
    color: white;
    margin: 0 5px 0 5px;
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (orientation: portrait) {


    .dropdown-multicol {
        width: auto;
        height: 300px;
        overflow-y: scroll;
    }
    .dropdown-multicol > div.dropdown-col {
        height: auto;
    }
}
