main {
    padding-top: 60px;
    min-height: 77vh;

}

body {
    background-color: #1E1E1E;
    min-height: 100vh;
}

.navbar-logo {
    width: 100px;
    height: 37px;
}

html {
    width: auto;
}
/* FOOTER CSS*/
.div-ico:hover {
    box-shadow: 0 1px 10px 0 rgba(61, 38, 168, 0.7);
}

.div-ico:hover > .fa {
    color: #3d26a8;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa {
    text-align: center;
    text-decoration: none;

}
.social_logos{
    font-size: min(7vw, 70px);
    max-width: 200px;
}

.div-ico {
    border: 4px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #91A826;
}

.about-group {
    padding-right: 100px;
    padding-left: 100px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.5);

}

.about_socials {

    display: flex;
    height: inherit;
    align-items: center;

}

.about-links {
    padding-left: 13%;
    margin-top: 2%;
    height: 95%;
    flex: 15%;
    order: 0;
}

.link_list {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 17px;

}

.a-link {
    color: #ffff;
    padding-bottom: 3%;
    text-decoration: none;
    min-width: 85px;
}

.a-link:hover {
    color: rgb(61, 38, 168);
}



.h2-footer {
    min-width: 85px;
}
/*Footer end*/


/*Sidebar css*/
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(90, 90, 90, 0.212);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}
/*end side bar*/

.item-hidden {
    display: none;
    visibility: hidden;
}

/*CSS PER LOGIN*/

.login-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 400px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 37, 41);
    transition: ease-in 100ms;
    overflow: hidden;
    z-index: 5;
}

.form-hidden {
    position: absolute;
    right: 4px;
    top: -500px;
}

.form-active {
    position: fixed;
    top: 63px;
    right: 4px;
}

.form-switch{
    padding-right: 2.5rem;
}

.tab-content{
    padding-inline: 2.5rem;
}

.login-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.btn-login {
    margin-top: 8%;
    background-color: #3d26a8;
}

.close-form {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-close {
    padding-right: 10px;
}

.form-header {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #91A826;
    font-size: 1.5rem;
}

.username-input {
    margin-bottom: 20px;
    width: 100%;
}

.login-label {
    color: #fff
}

.signup-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
    width: 100%;
    height: 100%;
}

.btn-signup {
    margin-top: 8%;
    background-color: #3d26a8;
    width: 100%;
}


.password-input {
    width: 100%;
}

.signup-label {
    color: #fff
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #212529;
    border-color: #dee2e6 #dee2e6 #212529;
}


.error-form {
    color: #ff6e19;
}

#loginToast {
    margin-top: 70px;
}

/* Css shopping cart dropdown*/
#cartDropdownBtn{
    background: none;
    border: 0;
}
#cartContentContainer{
    padding: 12px;
    width: 340px;
    min-width: fit-content;
    background-color: #212529;
}
.cart-dropdown-row{
    width: 100%;
    background-color: #212529;
    border-color: #545D67;
}

.cart-content-item{
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #212529;
    color: #fff;
}

.remove-cart-product-btn{
    margin-left: auto;
    margin-right: 0;
    background: none;
    border: 0;
    color: #fff;
}

#btnCartToPurchase{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border-style: solid;
    border-color: #91A826;
    border-radius: 10px;
    color: #fff;
}
#defaultCartItem{
    margin-top: 15px;
}
.cart-product-name{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-dropdown-item{
    margin: 10px 0 10px;
}
.cart-product-quantity{
    margin-right: 10px;
}
.cart-product-quantity::after{
    content: "|";
}
#emptyCart{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}
#emptyCartGoToShowRoom{
    font-size: 50px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
}

#linkEmptyCartGoToShowRoom:hover> #emptyCartGoToShowRoom{
    border: 1px solid #91A826;
    border-radius: 10px;
}

/*Css per notifiche*/
#notificationDropdownContent{
    background-color: #212529;
    max-height: 50vh;
    width: 300px;
    overflow-y: scroll;
    padding: 4rem 1rem 1rem 1rem;
}
.notification-list-item{
    padding: 5px 0 5px 0;
    border-bottom: thin solid #545D67;
}
#notificationCounter{
    position: absolute;
    transform: translate(1.5rem);

}
.navbar-nav-dropdowns{
    gap: 0.4rem;
}

#notificationHeader{
    position: absolute;
    height: 3rem;
    z-index: 1000;
    width: 100%;
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #545D67;
}
#notificationHeader span{
    font-size: 1.2rem;
}
#deleteAllNotifyBtn{
    font-size: 0.8rem;
    color:#fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
}

#deleteAllNotifyBtn:hover{
    background-color: #fff;
    color: #212529;
}

#notificationDropdownContainer div{
    background-color: #212529;
}


@media only screen and (max-width: 767px){
    #cartContentContainer{
        width: 100%;
    }
    #notificationDropdownContent{
        max-height: 35vh;
        width: 100%;
    }
    .navbar-nav-dropdowns{
        gap: 0rem;
    }

}

