main {
    padding-top: 60px;
    min-height: 77vh;

}

body {
    background-color: #1E1E1E;
    min-height: 100vh;
}

.navbar-logo {
    width: 100px;
    height: 37px;
}

html {
    width: auto;
}

.body-light {
    background-color: white;
}

.div-ico:hover {
    box-shadow: 0 1px 10px 0 rgba(61, 38, 168, 0.7);
}

.div-ico:hover > .fa {
    color: #3d26a8;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa {
    text-align: center;
    text-decoration: none;
}

.div-ico {
    border: 4px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_logos {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: auto;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-size: 70px;
}

.footer {
    min-height: 300px;
    max-height: fit-content;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #91A826;
}

.about-group {
    width: fit-content;
    min-width: 60%;
    padding-right: 100px;
    padding-left: 100px;
    min-height: inherit;
    height: fit-content;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.5);

}

.about_socials {
    flex-shrink: 0;
    display: flex;
    flex: 15%;
    order: 1;
    width: 100%;
    min-width: 85px;
    height: inherit;
    align-items: center;

}

.about-links {
    padding-left: 13%;
    margin-top: 2%;
    height: 95%;
    flex: 15%;
    order: 0;
}

.link_list {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 17px;

}

.a-link {
    color: #ffff;
    padding-bottom: 3%;
    text-decoration: none;
    min-width: 85px;
}

.a-link:hover {
    color: rgb(61, 38, 168);
    font-size: 1.5em;
}

.switch-div {
    max-width: 100px;
}

.h2-footer {
    min-width: 85px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1E1E1E;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #91A826;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(90, 90, 90, 0.212);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}


/*Css per login*/
.nav-login {
    display: flex;
    visibility: visible;
    justify-content: flex-end;
    width: 100%;
}

.a-login-hidden {
    display: none;
    visibility: none;
}

.login-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 37, 41);
    transition: ease-in 100ms;
    overflow: hidden;
    z-index: 5;
}

.form-hidden {
    position: absolute;
    right: 4px;
    top: -500px;
}

.form-active {
    position: fixed;
    top: 63px;
    right: 4px;
}

.login-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    height: 90%;
}

.btn-login {
    margin-top: 8%;
    background-color: #3d26a8;
}

.close-form {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-close {
    padding-right: 10px;
}

.h2-login {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #91A826;
}

.username-input {
    margin-bottom: 20px;
    width: 100%;
}

.login-label {
    color: #fff
}

.signup-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 85%;
    height: 90%;
}

.btn-signup {
    margin-top: 8%;
    background-color: #3d26a8;
    width: 100%;
}

.h2-signup {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #91A826;
    width: 100%;
}

.password-input {
    width: 100%;
}

.signup-label {
    color: #fff
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #212529;
    border-color: #dee2e6 #dee2e6 #212529;
}

.form-switch {
    width: 90%;
}

.tab-content {
    padding-left: 30px;
}

.error-form {
    color: #ff6e19;
}

#user-feature {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.account-dprdwn {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

#navbarAccount {
    min-width: 125px;
}

#loginToast {
    margin-top: 70px;
}

/*da spostare*/

